.heading1 {
    width: 313px;
    height: 22px;
    color: #F00;
    font-size: 21px
}

.ol1 {
    color: #5F5F5F;
    margin-left: 40px;
}

.image {
    margin-left: 40px;
}

.paragraph1 {
    color: #5B5B5B;
}